<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <div style="display: flex;">
    <div class="drawer drawer-left drawer-static show" style="padding: 20px;">
      <div class="drawer-content drawer-content-scrollable">
        <div class="drawer-header">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/thuvienpoly.appspot.com/o/Screenshot_1%205.png?alt=media&token=2201c576-27a3-4d03-a0d5-6d488584d70c"
            alt="fail"
          />
        </div>
        <div class="drawer-body">
          <div style="display: flex;margin-top: 20px;">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/thuvienpoly.appspot.com/o/books%201.png?alt=media&token=d0dcf433-76f7-4b75-915e-357b6754d338"
              alt="fail"
            />
            <h5 style="margin-left: 10px;">Quản Lý Sách</h5>
          </div>
          <a class="dropdown-item" href="/Book/listBook">Danh Sách Sách</a>
          <a class="dropdown-item" href="">Danh Sách Thể Loại</a>
          <div style="display: flex;margin-top: 20px;">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/thuvienpoly.appspot.com/o/users-alt%20(2)%201.png?alt=media&token=e4a38d3a-47f3-42a1-ad89-56a47bfb977d"
              alt="fail"
            />
            <h5 style="margin-left: 10px;">Quản Lý User</h5>
          </div>
          <a class="dropdown-item" href="">Danh Sách Khách Hàng</a>
          <a class="dropdown-item" href="/Librarian/listLibrarian">Danh Sách Nhân Viên</a>
          <div style="display: flex;margin-top: 20px;">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/thuvienpoly.appspot.com/o/file-invoice%20(1)%201.png?alt=media&token=b3f068c8-88fd-41fe-9907-cc4130c58c61"
              alt="fail"
            />
            <h5 style="margin-left: 10px;">Quản Lý Phiếu Mượn</h5>
          </div>
          <a class="dropdown-item" href="">Danh Sách Phiếu Mượn</a>
          <div style="display: flex;margin-top: 20px;">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/thuvienpoly.appspot.com/o/chart-histogram%20(1)%201.png?alt=media&token=7fb2622b-33eb-44cf-aeff-93b7bee89d59"
              alt="fail"
            />
            <h5 style="margin-left: 10px;">Thống Kê</h5>
          </div>
          <a class="dropdown-item" href="">Tốp Sách Thêu Nhiều</a>
          <a class="dropdown-item" href="">Tổng Doanh Thu</a>

        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div
        style="display: flex;height: 70px; background-color: rgb(231, 248, 248);margin: 20px;align-items: center;padding: 20px;"
      >
        <text style="font-size: 24dp;">
          BOOK
        </text></div>
      <body>
        <div style="margin: 20px;">
          {{{body}}}
        </div>
      </body>
    </div>
  </div>

</html>